@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');



.white {
  color: rgb(255, 255, 255);
}

.gray {
  color: rgb(216, 216, 216);
}

.acoesColor {
  color: rgb(15, 15, 15);
}

.content {
  width: 90%;
  margin: 1.4rem auto;
}

.title {
  text-align: center;
  margin-bottom: 3rem;
}

.title h1 {
  font-size: 3rem;
  font-weight: 100;
  margin-right: .1rem;
  font-family: 'Montserrat';
  letter-spacing: 0.3rem;
}

.table {
  background-color: rgb(70, 70, 70);
}

.livroFlex {
  margin-left: .5rem;
  color: rgb(236, 215, 119);
}

button {
  background-color: rgb(216, 216, 216);
  margin-bottom: 1rem;
}

.edit {
  color: rgb(132, 165, 226);
}

.delete {
  color: rgb(207, 95, 95);
}