<div class="content">
  <div class="title gray">
    <h1>CATEGORIAS</h1>
  </div>

  <button routerLink="create" mat-stroked-button class="mat-elevation-z8">Nova Categoria</button>
  <table mat-table class="table mat-elevation-z4" [dataSource]="categorias">
    <ng-container matColumnDef="id">
      <th class="white" mat-header-cell *matHeaderCellDef> ID </th>
      <td class="gray" mat-cell *matCellDef="let categoria"> {{categoria.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="nome">
      <th class="white" mat-header-cell *matHeaderCellDef> Nome </th>
      <td class="gray" mat-cell *matCellDef="let categoria"> {{categoria.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="descricao">
      <th class="white" mat-header-cell *matHeaderCellDef> Descrição </th>
      <td class="gray" mat-cell *matCellDef="let categoria"> {{categoria.descricao}} </td>
    </ng-container>

    <ng-container matColumnDef="livros">
      <th class="white" mat-header-cell *matHeaderCellDef> Livros </th>
      <td class="acoesColor" mat-cell *matCellDef="let categoria"> 
        <a class="material-icons livroFlex">auto_stories</a>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="acoes">
      <th class="white" mat-header-cell *matHeaderCellDef> Ações </th>
      <td class="acoesColor"  mat-cell *matCellDef="let categoria">
        <a class="edit">
          <i class="material-icons">edit</i>
        </a>
        <a class="delete" routerLink="delete/{{categoria.id}}">
          <i class="material-icons">delete_forever</i>
        </a>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
  </table>
  
</div>