<form class="mat-elevation-z8">
  <button mat-stroked-button routerLink="../../" color="primary">Retornar</button>
  <h1>Editar Categoria</h1>
  <mat-form-field class="form">
    <mat-label>Nome</mat-label>
    <input
    matInput
    [(ngModel)]="categoria.nome"
    [formControl]="nome"
    type="text"
    name="nome"
    required
    >
    <mat-error *ngIf="nome.invalid">{{getErrorMessageNome()}}</mat-error>
  </mat-form-field>
  <mat-form-field class="form">
    <mat-label>Descrição</mat-label>
    <textarea
    matInput
    [(ngModel)]="categoria.descricao"
    [formControl]="descricao"
    type="text"
    name="descricao"
    required
    ></textarea>
    <mat-error *ngIf="descricao.invalid">{{getErrorMessageDescricao()}}</mat-error>
    
  </mat-form-field>

  <div class="buttons">
    <button
    (click)="update()"
    [disabled]="!validFields()"
    class="mat-elevation-z2"
    color="primary"
    mat-flat-button
    >Atualizar
  </button>

  <button
    class="mat-elevation-z2"
    color="warn"
    id="btn"
    (click)="clearFields()"
    mat-flat-button
    >{{btnVal}}</button>
  </div>

</form>
