<form class="mat-elevation-z8">
  <button mat-stroked-button routerLink="../" color="primary">Retornar</button>
  <h1>Nova Categoria</h1>
  <mat-form-field class="form">
    <mat-label>Nome</mat-label>
    <input
    matInput
    type="text"
    name="nome"
    placeholder="Ex. Computação"
    [(ngModel)]="categoria.nome"
    [formControl]="nome"
    required>
    <mat-error *ngIf="nome.invalid">{{getErrorMessageNome()}}</mat-error>
  </mat-form-field>
  <mat-form-field class="form">
    <mat-label>Descrição</mat-label>
    <textarea
    matInput
    type="text"
    name="descricao"
    placeholder="Ex. Livros de TI"
    [(ngModel)]="categoria.descricao"
    [formControl]="descricao"
    required></textarea>
    <mat-error *ngIf="descricao.invalid">{{getErrorMessageDescricao()}}</mat-error>
  </mat-form-field>

  <div class="buttons">

    <button
    class="mat-elevation-z2"
    color="primary"
    mat-flat-button
    (click)="create()"
    [disabled]="!validFields()"
    >Criar</button>
    
    <button
    class="mat-elevation-z2"
    color="warn"
    mat-flat-button
    (click)="clearFields()"
    >Limpar</button>

  </div>

</form>
