.home {
  width: 90%;
  margin: 1.5rem auto;
  background-color: rgb(83, 83, 83);
  color: rgb(216, 216, 216);
}

mat-card-subtitle {
  color: rgb(153, 153, 153);
}

@media(max-width: 450px) {
  .home {
    width: 70%;
  }
}

@media(max-width: 770px) {
  .home {
    width: 90%;
  }
}